@charset "UTF-8";
/* CSS Document */

.wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: blue;
}
.flex-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.flex-wrapper div{
  background-color: pink;
  color: purple;
  padding: 10px;
  text-align: center;
}


body{
  background-color: #cccccc;
  background-image: linear-gradient(white, #FFEEA6);
  background-repeat: repeat-x;
  background-attachment: scroll;
}
header {
  background-color: white;
  text-align: center;
  padding: 10px;
}
h1 {
  font-family: 'Lobster', cursive;
  color: midnightblue;
}

p {
  font-family: 'Crete Round', serif;
  color: midnightblue;
}
footer{
  width: 100%;
  text-align: center;
  background-color: yellow;
  padding: 10px;
