@charset "UTF-8";
/* CSS Document */

body{
  width: 90%;
  margin: auto;
  background-color: #cccccc;
  background-image: linear-gradient(#FFEEA6, #FFC963);
  background-attachment: fixed;
}
header {
  background-color: rgb(255, 255, 255, 0.7);
  text-align: center;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #3283FA;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #61A9F7;
}
.active {
  background-color: #FAAD14;
}
h1 {
  font-family: 'Lobster', cursive;
  color: midnightblue;
  padding:20px;
}

p {
  font-family: 'Crete Round', serif;
  color: midnightblue;
  text-align: center;
  padding:30px;
}
.wrapper {
  background-color: rgb(255, 255, 255, 0.7);
  margin: auto;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  grid-auto-rows: minmax(auto);
  align-items: flex-start;
}
.flex-wrapper img{
  flex: 1;
  padding:10px;
  width:200px;
  height:auto;
}
.alt-bg {
  background-color: white;
  background-image: linear-gradient(#B186FF, #311F61);
}
footer{
  font-family: 'Crete Round', serif;
  color: midnightblue;
  margin: auto;
  text-align: center;
  padding: 10px;
}
@media (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
